.toolbar {
  text-align: center;
}

.img {
  width: 100px;
}



.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: whitesmoke;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active .step-counter {
  border: 3px solid rgb(55, 227, 115);
  background-color: #ccc;
  color: rgb(255, 255, 255);
}

.stepper-item.active {
  font-weight: bold;
  color: #4bb543;

}

.stepper-item.completed .step-counter {
  background-color: rgb(55, 227, 115);

}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 4px solid #37e373;
  width: 100%;
  top: 21px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

.bulletCard {
  border-radius: 20px;
}

.bullet {
  width: 100px;
  display: inline-block;
}

.bullet1 {
  display: inline-block;
}

.groupInputs {
  display: block;
}

.small {
  width: 20px;
  margin-right: 5px;
  margin-left: -17px;
}

.bulletInput {
  width: 150px;
}

.right {
  border-left: 1.9px solid rgba(0, 0, 0, 0.5);
}

//counter

.MP {
  width: 20px;
  color: blue;
  display: inline-block;
}

.row3text {
  width: 90px;
  display: inline-block;
}

.block {
  display: block;
}

.inligne {
  display: inline-block;
}

.rowCenter {
  align-items: center;
  display: flex;
}

.title {
  text-align: center;
}

.cover{
  width: 100%;
padding-bottom: 40px;
}


//recap

.carImg {
  height: 80px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centred {
  align-content: center;
}

ion-icon {
  font-size: 2rem;
}

ion-modal {
  &.bottom-end {
    align-items: flex-end;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
  }
}

.trajetCard{
  border-radius: 20px;
  margin-top: 30px;
}

.TypeBagage{
  width: fit-content;
  margin: -10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.info{
  margin: -15px;
  margin-top: -10px;
}

.infoRow{
  margin:auto;
}

// ion-content{
//   --background: linear-gradient(237deg, rgba(242,242,242,1) 15%, rgba(166,165,233,1) 100%); 
// }


.trajetCardFiche{
  width: 80%;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  font-family: font4;
  font-size: 0.8rem;
}

.textTrajet{
  font-family: font4;
  font-size: 0.8rem;
}

.sep{
  border-bottom: 1px solid black;
  width: 100%;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text{
  margin: auto;
  font-family: font4;
  font-size: 0.8rem;
}

.textHeure{
  margin: auto;
  font-family: font4;
  font-size: 1.2rem;
}

.textStacked{
  margin: auto;
  font-family: font4;
  font-size: 1rem;
}

.gender{
  height: 130px;
  border-radius: 20px;
}

.genderText{
  font-size: 0.8rem;
  margin-top: -15px;
  margin-bottom: -5px;
}

.genderRadio{
  margin-bottom: -5px;
}

.cardHeader{
  width: 100%;
  color: rgb(28, 26, 26);
  margin: auto;
  font-family: font4;
  font-size: 0.9rem;
}

.social{
  width: 50px;
  font-size: 0.8rem;
  border-radius: 30px;
}

.socialRecap {
  height: 45px;
  width: 45px;
  float: right;
}

.nom {
  font-family: font4;
  font-size: large;
}

.distanceIcon {
  height: 120px;
  width: 25px;
}

.trajet {
  font-size: medium;
  font-family: font2;
  opacity: 0.8;
  width: 200px;
}

.adresse {
  font-size: medium;
  font-family: font4;
  margin-top: -12px;
}

.seat {
  height: 19px;
  width: 19px;
  margin-left: 15px;
  opacity: 0.78;
}

.icon {
  width: 25px;
}

.togBtn{
  height: 50px;
  width: 70px;
  
  --border-color: #a5a5a5;
  --border-style: solid;
  --border-width: 1px;

}

.superUser {
  height: 30px;
  width: 30px;
}

.superDriver {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 0px;
}
