<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="carImg" src="../../../assets/images/car1.jpg"/>
      </ion-col>
      <ion-col size="auto">
        <ion-row class="centered"><ion-chip>Gouv - Ville depart</ion-chip></ion-row>
        <ion-row class="centered"><ion-icon name="caret-down-outline" color="success"></ion-icon><ion-icon name="caret-down-outline" color="success"></ion-icon><ion-icon name="caret-down-outline" color="success"></ion-icon></ion-row>
        <ion-row class="centered"><ion-chip>Gouv - Ville destination</ion-chip></ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="row3">
      <ion-col size="auto">
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon size="medium" name="calendar-outline"></ion-icon>
              </ion-col>
              <ion-col size="auto">
                10 Mars
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-col>

      <ion-col size="auto">
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="alarm-outline"></ion-icon>
              </ion-col>
              <ion-col size="auto">
                09:00
              </ion-col>
            </ion-row>
          </ion-grid>  
      </ion-col>

      <ion-col size="auto">
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="car-outline"></ion-icon>
              </ion-col>
              <ion-col size="auto">
                Places : 3
              </ion-col>
            </ion-row>
          </ion-grid>
    
      </ion-col>
    </ion-row>

    <ion-row class="row1 centered">
      <ion-col class="centered">
        Climatisé <fa-icon icon="snowflake"></fa-icon> : Oui
      </ion-col>
      <ion-col>
        Bagage <fa-icon icon="briefcase"></fa-icon> : Leger
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Fumeurs <fa-icon icon="smoking"></fa-icon> : Oui
      </ion-col>
      <ion-col>
        Animaux <fa-icon icon="paw"></fa-icon> : Oui
      </ion-col>
    </ion-row>





  </ion-grid>
</ion-card>