.carImg{
    height: 80px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered{
    justify-content: center;
    align-self: center;
}

.icon1{
    --size: 200px;
}

.row1{
    align-content: center;
    align-self: center;
}

.row3{
    margin: 2px;
}

.card1{
    margin : 0px;
    padding : 5px;

}