.card{
    opacity: 0.97;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(239,239,255,1) 100%); 
    box-shadow: none;
}

.img{
    height: 50px;
}

p{
    font-size: 6px;
}

.chip{
    size: 10px;
    width: auto;
}

.image{
    width: 50px;
    height: 50px;
    align-self: center;
}
.badge{
    margin: 2px;
    display: block;
    float: right;
    background-color: #F2A341;
}

.bdgeRow{
   justify-content: end;
   align-content: center;
   align-self: center;
}

.centered{
    justify-content: center;
    align-self: center;
}



//prop2

ion-thumbnail {
    --size: 90px;
    --border-radius: 14px;
  }


ion-card{
    box-shadow: 1px 0px 5px 4px rgba(58,57,57,0.23);
    border-radius: 17px;
}
ion-item{
    // --background : rgb(247, 247, 236);
}

ion-chip {
    --background: #cdcdcd;
    --color: #000000;
    float: right;
  }

//
.distanceIcon{
    height: 75px;
    width: 25px;
}

.trajet{
    font-size: medium;
    margin-top: 2px;
    font-family: font4;
}

.heure{
    font-size: large;
    font-family: font3;
    height: 20px;
}

.date{
    font-size: medium;
    font-family: font4;
    margin-top: 10px;
}

.prix{
    font-size: large;
    font-family: font4;
    height: 15px;
}

.nom {
  font-family: font4;
  font-size: large;
}

.seat{
    height: 25px;
    margin-left: 5px;
}
.seatNb{
    font-size: large;
    font-family: font4;
    height: 15px;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.inst {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.verifie{
    border: 2px solid green;
}

.garcons{
    --background: linear-gradient(90deg, rgba(255,255,255,0.27614373386073177) 96%, rgba(67,79,251,1) 100%);
}

.filles{
    --background: linear-gradient(90deg, rgba(255,255,255,0.27614373386073177) 96%, rgba(251,67,227,1) 100%);
}

.enAttente {
  --background: #ffd94f !important;
}

.refusee {
  --background: #fa5252 !important;
}

.confirmee {
  --background: #37e373 !important;
}

.statusIcon {
  //margin-inline: 0px 0px;
}

.colVehicule {
  padding-inline-start: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.color-black {
  --background: linear-gradient(90deg, white 95%, black 100%);
}

.color-white {
  --background: linear-gradient(90deg, white 95%, white 100%);
}

.color-gray {
  --background: linear-gradient(90deg, white 95%, gray 100%);
}

.color-lightgray {
  --background: linear-gradient(90deg, white 95%, lightgray 100%);
}

.color-purple {
  --background: linear-gradient(90deg, white 95%, purple 100%);
}

.color-red {
  --background: linear-gradient(90deg, white 95%, red 100%);
}

.color-darkblue {
  --background: linear-gradient(90deg, white 95%, darkblue 100%);
}

.color-blue {
  --background: linear-gradient(90deg, white 95%, blue 100%);
}

.color-darkgreen {
  --background: linear-gradient(90deg, white 95%, darkgreen 100%);
}

.color-green {
  --background: linear-gradient(90deg, white 95%, green 100%);
}

.color-maroon {
  --background: linear-gradient(90deg, white 95%, maroon 100%);
}

.color-beige {
  --background: linear-gradient(90deg, white 95%, beige 100%);
}

.color-orange {
  --background: linear-gradient(90deg, white 95%, orange 100%);
}

.color-yellow {
  --background: linear-gradient(90deg, white 95%, yellow 100%);
}

.color-blueviolet {
  --background: linear-gradient(90deg, white 95%, blueviolet 100%);
}

.color-hotpink {
  --background: linear-gradient(90deg, white 95%, hotpink 100%);
}
