<ion-card class="{{style}}">
  <ion-grid [fixed]="true">
    <ion-row style="margin-top: -5px;">
      <ion-col>
        <ion-item lines="none">
          <ion-avatar slot="start" class="{{annonce.uVerifie ? 'verifie' : ''}}">
            <img alt="person" src="{{annonce.uImgUrl}}" />
          </ion-avatar>
          <ion-label class="nom">{{annonce.uPrenom}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-row>
          <div style="margin-left: auto; margin-right: 5px; display: flex; flex-direction: justify-content ">
            <ion-img class="icon" *ngIf="annonce.uSuperUser" src="../../../assets/images/medSuperUser.png"></ion-img>
            <ion-img class="icon" *ngIf="annonce.uSuperDriver" src="../../../assets/images/medSuperDriver.png"></ion-img>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto" style="margin-left: 10px;">
        <ion-row>
          <p class="heure">{{annonce.dateHeureDepart | date:'HH'}}</p>
          <p class="heure">:</p>
          <p class="heure">{{annonce.dateHeureDepart | date:'mm'}}</p>
        </ion-row>
        <ion-row>
          <p class="date">{{annonce.dateHeureDepart | date:'dd'}} {{annonce.dateHeureDepart | date:'MMM'}} </p>
        </ion-row>
      </ion-col>
      <ion-col size="auto" style="margin-top: 20px;">
        <ion-img class="distanceIcon" src="../../../assets/icon/Distance.png" alt="Distance"></ion-img>
      </ion-col>
      <ion-col style="margin-top: 20px;">
        <ion-row class="ion-text-wrap">
          <p class="trajet ion-text-wrap">{{annonce.depart}}</p>
        </ion-row>
        <ion-row class="ion-text-wrap">
          <p class="trajet ion-text-wrap" style="margin-top: 18px;">{{annonce.destination}}</p>
        </ion-row>
      </ion-col>
      <ion-col size="auto" style="margin-right: 10px;">
        <ion-row style="justify-content: end;">
          <p class="prix" style="float: right;">{{annonce.prix}} DT</p>
        </ion-row>
        <ion-row>
          <p class="prix" style="margin-top: 2px;">{{annonce.nombrePlacesDispo}} / {{annonce.nombrePlaces}}</p>
          <ion-img class="seat" src="../../../assets/icon/Seat.png" alt="Distance"></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -15px;">
      <ion-chip *ngIf="annonce.isRes" class={{classResChip}}>
        <ion-icon *ngIf="classResChip=='enAttente'" name="hourglass" color="light" class="statusIcons"></ion-icon>
        <ion-icon *ngIf="classResChip=='confirmee'" name="checkmark-circle" color="light" class="statusIcons"></ion-icon>
        <ion-icon *ngIf="classResChip=='refusee'" name="close-circle" color="light" class="statusIcons"></ion-icon>
      </ion-chip>
      <div style="margin-left: auto; margin-right: 5px; display: flex; flex-direction: justify-content ">
        <ion-img class="icon" *ngIf="annonce.leger" src="../../../assets/images/bLeger.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.moyen" src="../../../assets/images/bMoyen.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.lourd" src="../../../assets/images/bLourd.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.max2" src="../../../assets/images/max2.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.animaux" src="../../../assets/images/animal.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.cigarette" src="../../../assets/images/cigarette.png"></ion-img>
        <ion-img class="icon" *ngIf="annonce.vClimatise" src="../../../assets/images/clim.png"></ion-img>
        <ion-icon name="flash-outline" *ngIf="annonce.instantane" class="inst" size="large" color="warning"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>
</ion-card>
