<ion-tabs>

  <!-- <ion-tab-bar slot="bottom">
    <ion-tab-button selected tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="setOpen(true)">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="setOpen(true)">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->

  <ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  subHeader=""
  message="Disponible dans les meilleures délais"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  ></ion-alert>

</ion-tabs>
