<app-menu *ngIf="user?.conditionsGenerales"></app-menu>

<ion-content class="ion-padding">


  <ion-title>Conditions générales</ion-title>
  <ion-grid>
    <ion-col>

      <ol>
        <li>
          Objet
          <p>
            La société Relics Codes Software (ci-après, « Blassa App ») édite une plateforme de covoiturage accessible sur un site internet notamment à l’adresse www.blassa.tn ou sous forme d’application mobile et destinée à mettre en relation des conducteurs se rendant à une destination donnée pour leur propre compte avec des passagers allant dans la même direction afin de leur permettre de partager le trajet et donc les frais qui y sont associés.
            Les présentes conditions générales d’utilisation ont pour objet d’encadrer l’accès et les modalités d’utilisation de la Plateforme. Nous vous invitons à en prendre attentivement connaissance. Vous comprenez et reconnaissez que Blassa App n’est partie à aucun accord, contrat ou relation contractuelle, de quelque nature que ce soit, conclu entre les Membres de sa Plateforme.
            En cliquant sur le bouton « Accepter » de la page des conditions générales vous reconnaissez avoir pris connaissance et accepter l’intégralité des présentes conditions générales d’utilisation.
          </p>
        </li>
        <li>
          Définitions
          <p>
            Dans les présentes,
            « Annonce » désigne indistinctement une Annonce de Covoiturage ou une Annonce de Bus ;
            « Annonce de Covoiturage » désigne une annonce concernant un Trajet posté sur la Plateforme par un Conducteur ;
            « Blassa App » a la signification qui lui est donnée à l’article 1 ci-dessus ;
            « CGU » désigne les présentes Conditions Générales d’Utilisation ;
            « Compte » désigne le compte qui doit être créé pour pouvoir devenir Membre et accéder à certains Services proposés par la Plateforme ;
            « Compte Facebook » a la signification qui lui est donné à l’article 3.2 ci-dessous ;
            « Conducteur » désigne le Membre proposant, sur la Plateforme, de transporter une autre personne physique en contrepartie de la Participation aux Frais, pour un trajet et un horaire défini par lui-seul ;
            « Confirmation de Réservation » a la signification qui lui est donnée à l’article 4.2.1 ci-dessous ;
            « Contenu Membre » a la signification qui lui est donnée à l’article 11.2 ci-dessous ;
            « Frais de Service » a la signification qui lui est donnée à l’article 5.2 ci-dessous ;
            « Membre » désigne toute personne physique ayant créé un Compte sur la Plateforme ;
            « Passager » désigne le Membre ayant accepté la proposition d’être transporté par le Conducteur ou, le cas échéant, la personne pour le compte de laquelle un Membre a réservé une Place;
            « Participation aux Frais » désigne, pour un Trajet en Covoiturage donné, la somme d’argent demandée par le Conducteur et acceptée par le Passager au titre de sa participation aux frais de déplacement ;
            « Place » désigne la place réservée par un Client à bord du véhicule d’un ;
            « Plateforme » a le sens qui lui est donné à l’article 1, ci-dessus ;
            « Réservation » a le sens qui lui est donné à l’article 4.2.1. ci-dessous ;
            « Services » désigne l’ensemble des services rendus par BlassaApp par l’intermédiaire de la Plateforme ;
            « Site » désigne le site internet accessible à l’adresse www.blassa.tn ;
            « Sous-Trajet » a le sens qui lui est donné à l’article 4.1 ci-dessous ;
            « Trajet » désigne indistinctement un Trajet en Covoiturage
            « Trajet en Covoiturage » désigne le trajet faisant l’objet d’une Annonce de Covoiturage publiée par un Conducteur sur la Plateforme et pour lequel il accepte de transporter des Passagers en contrepartie de la Participation aux Frais ;

          </p>
        </li>
        <li>
          Inscription à la Plateforme et création de Compte
          <ol type="a">
            <li>
              Conditions d’inscription à la Plateforme
              <p>
                L’utilisation de Plateforme est réservée aux personnes physiques âgées de 18 ans ou plus. Toute inscription sur la Plateforme par une personne mineure est strictement interdite. En accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou plus.
              </p>
            </li>
            <li>
              Création de Compte
              <p>
                La Plateforme permet aux Membres de publier des Annonces de Covoiturage et consulter des Annonces ainsi que d’interagir entre eux pour la réservation de Place. Vous pouvez consulter les Annonces même si vous n’êtes pas inscrit sur la Plateforme. En revanche, vous ne pouvez ni publier une Annonce de Covoiturage ni réserver une Place dans un covoiturage sans avoir, au préalable, créé un Compte et être devenu Membre.
                Pour créer votre Compte, vous pouvez :
                •	(i) soit vous connecter, via notre Plateforme, à votre compte Facebook (ci-après, votre « Compte Facebook »). En utilisant une telle fonctionnalité, vous comprenez que Blassa App aura accès, publiera sur la Plateforme et conservera certaines informations de votre Compte Facebook.
                •	(ii) soit vous connecter, via notre Plateforme, à votre compte Gmail (ci-après, votre « Compte Gmail »). En utilisant une telle fonctionnalité, vous comprenez que Blassa App aura accès, publiera sur la Plateforme et conservera certaines informations de votre Compte Gmail.
                Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU ainsi que la Politique de Confidentialité.
                A l’occasion de la création de votre Compte, et ce quelle que soit la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par l’intermédiaire de votre profil ou en en avertissant BlassaApp, afin d’en garantir la pertinence et l’exactitude tout au long de votre relation contractuelle avec BlassaApp.
                Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres Comptes que celui initialement créé.
              </p>
            </li>
            <li>
              Vérification
              <p>
                BlassaApp peut, à des fins de transparence, d’amélioration de la confiance, ou de prévention ou détection des fraudes, mettre en place un système de vérification de certaines des informations que vous fournissez sur votre profil. C’est notamment le cas lorsque vous renseignez votre numéro de téléphone ou nous fournissez une pièce d’identité.
                Vous reconnaissez et acceptez que toute référence sur la Plateforme ou les Services à des informations dites « vérifiées » ou tout terme similaire, signifie uniquement qu’un Membre a réussi avec succès la procédure de vérification existante sur la Plateforme ou les Services afin de vous fournir davantage d’informations sur le Membre avec lequel vous envisagez de voyager. BlassaApp ne garantit ni la véracité, ni la fiabilité, ni la validité de l’information ayant fait l’objet de la procédure de vérification.
              </p>
            </li>
          </ol>
        </li>
        <li>
          Utilisation des Services
          <ol type="a">
            <li>
              Publication des Annonces de Covoiturage
              <p>
                En tant que Membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et publier des Annonces de Covoiturage sur la Plateforme en indiquant des informations quant au Trajet en Covoiturage que vous comptez effectuer (dates/heures et lieux de départ et d’arrivée, nombre de places offertes, options proposées, montant de la Participation aux Frais, etc.).
                Lors de la publication de votre Annonce de Covoiturage, vous pouvez indiquer des villes étapes, dans lesquelles vous acceptez de vous arrêter pour prendre ou déposer des Passagers. Les tronçons du Trajet en Covoiturage entre ces villes étapes ou entre l’une de ces villes étapes et le point de départ ou d’arrivée du Trajet en Covoiturage constituent des « Sous-Trajets ».
                Vous n’êtes autorisé à publier une Annonce de Covoiturage que si vous remplissez l’ensemble des conditions suivantes :
                •	(i) vous êtes titulaire d’un permis de conduire valide ;
                •	(ii) vous ne proposez des Annonces de Covoiturage que pour des véhicules dont vous êtes le propriétaire ou que vous utilisez avec l’autorisation expresse du propriétaire, et dans tous les cas, que vous êtes autorisés à utiliser à des fins de covoiturage ;
                •	(iii) vous êtes et demeurez le conducteur principal du véhicule, objet de l’Annonce de Covoiturage ;
                •	(iv) le véhicule bénéficie d’une assurance au tiers valide ;
                •	(v) vous n’avez aucune contre-indication ou incapacité médicale à conduire ;
                •	(vi) le véhicule que vous comptez utiliser pour le Trajet est une voiture de tourisme à 4 roues, disposant d’un maximum de 7 places assises;
                •	(vii) vous ne comptez pas publier une autre annonce pour le même Trajet en Covoiturage sur la Plateforme ;
                •	(viii) vous n’offrez pas plus de Places que celles disponibles dans votre véhicule ;
                •	(ix) toutes les Places offertes ont une ceinture de sécurité, et ce même si le véhicule est homologué en présence de sièges dépourvus de ceinture de sécurité ;
                •	(x) vous utilisez un véhicule en parfait état de fonctionnement et conforme aux usages et dispositions légales applicables, notamment avec un contrôle technique à jour ;
                •	(xi) vous êtes un consommateur et n’agissez pas à titre professionnel.
                Vous reconnaissez être le seul responsable du contenu de l’Annonce de Covoiturage que vous publiez sur la Plateforme. En conséquence, vous déclarez et garantissez l’exactitude et la véracité de toute information contenue dans votre Annonce de Covoiturage et vous engagez à effectuer le Trajet en Covoiturage selon les modalités décrites dans votre Annonce de Covoiturage.
                Votre Annonce de Covoiturage sera publiée sur la Plateforme et donc visible des Membres et de tous visiteurs, même non Membre, effectuant une recherche sur la Plateforme ou sur le site internet des partenaires de BlassaApp. BlassaApp se réserve la possibilité, à sa seule discrétion et sans préavis, de ne pas publier ou retirer, à tout moment, toute Annonce de Covoiturage qui ne serait pas conforme aux CGU ou qu’elle considérerait comme préjudiciable à son image, celle de la Plateforme ou celle des Services.

              </p>
            </li>
            <li>
              Réservation d’une Place
              <p>
                BlassaApp a mis en place un système de réservation de Places en ligne (la « Réservation ») pour les Trajets proposés sur la Plateforme.
                Les modalités de réservation d’une Place dépendent de la nature du Trajet envisagé.
                BlassaApp met à disposition des utilisateurs un moteur de recherche accessible sur la Plateforme fondé sur différents critères de recherche (provenance, destination, dates, nombres de voyageurs, etc.). Certaines fonctionnalités additionnelles sont fournies sur le moteur de recherche lorsque l’utilisateur se connecte à son Compte. BlassaApp invite l’utilisateur, quel que soit le mode de réservation utilisé, à consulter et utiliser consciencieusement ce moteur de recherche afin de déterminer l’offre la plus adaptée à ses besoins.
              </p>
              <ol type="i">
                <li>
                  Trajet en Covoiturage
                  <p>
                    Lorsqu’un Passager est intéressé par une Annonce de Covoiturage, il peut effectuer une demande de Réservation en ligne. Cette demande de Réservation est (i) soit acceptée automatiquement (si le Conducteur a choisi cette option lors de la publication de son Annonce de Covoiturage), (ii) soit acceptée manuellement par le Conducteur. Au moment de la Réservation. Après validation de la demande de Réservation par le Conducteur, le cas échéant, le Passager reçoit une confirmation de réservation (la « Confirmation de Réservation »).
                    Si vous êtes un Conducteur et que vous avez choisi de gérer vous-mêmes les demandes de Réservation lors de la publication de votre Annonce de Covoiturage, vous êtes tenu de répondre à toute demande de Réservation dans un certain délai. A défaut, la demande de Réservation expire automatiquement.
                    A compter de la Confirmation de la Réservation, BlassaApp vous transmet les coordonnées téléphoniques du Conducteur (si vous êtes Passager) ou du Passager (si vous êtes Conducteur), dans le cas où le Membre a donné son accord à la divulgation de son numéro de téléphone. Vous êtes désormais seuls responsables de l’exécution du contrat vous liant à l’autre Membre.
                  </p>
                </li>
              </ol>
            </li>
            <li>
              Système d’avis pour le covoiturage
              <ol type="i">
                <li>
                  Fonctionnement
                  <p>
                    BlassaApp vous encourage à laisser un avis sur un Conducteur (si vous êtes Passager) ou un Passager (si vous êtes Conducteur) avec lequel vous avez partagé un Trajet ou avec lequel vous étiez censé partager un Trajet. En revanche, vous n’êtes pas autorisé à laisser un avis sur un autre Passager, si vous étiez vous-même Passager, ni sur un Membre avec lequel vous n’avez pas voyagé ou avec lequel vous n’étiez pas censé voyager.
                    Votre avis, ainsi que celui laissé par un autre Membre à votre égard, le cas échéant, ne sont visibles et publiés sur la Plateforme qu’après le plus court des délais suivants : (i) immédiatement après que vous ayez, tous les deux, laissés un avis  ou (ii) passé un délai de 14 jours après le premier avis laissé.
                    Vous avez la possibilité de répondre à un avis qu’un autre Membre a laissé sur votre profil dans un délai maximum de 14 jours suivant la publication de l’avis laissé à votre égard. L’avis et votre réponse, le cas échéant, seront publiés sur votre profil.
                  </p>
                </li>
                <li>
                  Modération
                  <p>
                    Vous reconnaissez et acceptez que BlassaApp se réserve la possibilité de ne pas publier ou supprimer tout avis, toute question, tout commentaire ou toute réponse dont elle jugerait le contenu contraire aux présentes CGU.
                  </p>
                </li>
                <li>
                  Seuil
                  <p>BlassaApp se réserve la possibilité de suspendre votre Compte, limiter votre accès aux Services ou résilier les présentes CGU dans le cas où (i) vous avez reçu au moins trois avis et (ii) la moyenne des avis que vous avez reçus est égale ou inférieure à 3.</p>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Conditions financières
          <p>
            L’accès et l’inscription à la Plateforme, de même que la recherche, la consultation et la publication d’Annonces sont gratuits. En revanche, la Réservation est payante dans les conditions décrites ci-dessous.
          </p>
          <ol type="a">
            <li>
              Participation aux Frais et Prix
              <p>
                Dans le cadre d’un Trajet en Covoiturage, le montant de la Participation aux Frais est déterminé par vous, en tant que Conducteur, sous votre seule responsabilité. Il est strictement interdit de tirer le moindre bénéfice du fait de l’utilisation de notre Plateforme. Par conséquent, vous vous engagez à limiter le montant de la Participation aux Frais que vous demandez à vos Passagers aux frais que vous supportez réellement pour effectuer le Trajet en Covoiturage. A défaut, vous supporterez seul les risques de requalification de l’opération effectuée par l’intermédiaire de la Plateforme.
                Lorsque vous publiez une Annonce de Covoiturage, BlassaApp vous suggère un montant de Participation aux Frais qui tient compte notamment de la nature du Trajet en Covoiturage et de la distance parcourue. Ce montant est purement indicatif et il vous appartient de le modifier à la hausse ou à la baisse pour tenir compte des frais que vous supportez réellement sur le Trajet en Covoiturage. Afin d’éviter les abus, BlassaApp limite les possibilités d’ajustement du montant de la Participation aux Frais.
              </p>
            </li>
            <li>
              Frais de Service
              <p>
                BlassaApp peut prélever, en contrepartie de l’utilisation de la Plateforme, des frais de service à ses utilisateurs (ci après, les “Frais de Service”). L’utilisateur sera informé avant toute application de Frais de Service le cas échéant.
                Les modalités de calcul des Frais de Service en vigueur accessibles ici sont fournies à titre informatif uniquement et n’ont pas de valeur contractuelle. BlassaApp se réserve le droit de modifier à tout moment les modalités de calcul des Frais de Service. Ces modifications n’auront pas d’effet sur les Frais de Service acceptés par les utilisateurs avant la date de prise d’effet de ces modifications.
                En ce qui concerne les trajets transfrontaliers, les modalités de calcul du montant des Frais de Services et des taxes applicables varient selon la résidence du Membre.
                Lorsque vous utilisez la Plateforme pour des Trajets transfrontaliers ou hors de France, les Frais de Services peuvent être facturés par une société affiliée de BlassaApp éditant la plateforme locale.

              </p>
            </li>
            <li>
              Arrondis
              <p>
                Vous reconnaissez et acceptez que BlassaApp peut, à son entière discrétion, arrondir au chiffre inférieur ou supérieur les Frais de Service et la Participation aux Frais.
              </p>
            </li>
          </ol>
        </li>
        <li>
          Finalité non commerciale et non professionnelle de l’utilisation par les Conducteurs des Services et de la Plateforme
          <p>
            Vous vous engagez à n’utiliser les Services et la Plateforme que pour être mis en relation, à titre non professionnel et non commercial, avec des personnes souhaitant partager un Trajet en Covoiturage avec vous.
            En tant que Conducteur, vous vous engagez à ne pas demander une Participation aux Frais supérieure aux frais que vous supportez réellement et susceptible de vous faire générer un bénéfice, étant précisé que s’agissant d’un partage de frais, vous devez également, en tant que Conducteur, supporter votre part des coûts afférents au Trajet en Covoiturage. Vous êtes seul responsable d’effectuer le calcul des frais que vous supportez pour le Trajet en Covoiturage, et de vous assurer que le montant demandé à vos Passagers n’excède pas les frais que vous supportez réellement (en excluant votre part de participation aux frais), notamment en vous référant au barème fiscal kilométrique forfaitaire applicable.
            BlassaApp se réserve la possibilité de suspendre votre Compte dans le cas où vous utiliseriez un véhicule professionnel de type VTC ou taxi, une voiture de fonction ou de service et généreriez de ce fait un bénéfice sur la Plateforme. Vous vous engagez à fournir à BlassaApp, sur simple demande de la part de celle-ci, une copie de votre carte grise et/ou tout autre document de nature à attester que vous êtes autorisé à utiliser ce véhicule sur la Plateforme et n’en tirez aucun bénéfice.
            BlassaApp se réserve également la possibilité de suspendre votre Compte, limiter votre accès aux Services ou résilier les présentes CGU en cas d’activité de votre part sur la Plateforme, qui, du fait de la nature des trajets proposés, de leur fréquence, du nombre de Passagers transportés ou du montant de Participation aux Frais demandé, entrainerait une situation de bénéfice pour vous ou pour quelque raison que ce soit faisant suspecter à BlassaApp que vous générez un bénéfice sur la Plateforme.

          </p>
        </li>
        <li>
          Comportement des utilisateurs de la Plateforme et Membres
          <ol type="a">
            <li>
              Engagement de tous les utilisateurs de la Plateforme
              <p>
                Vous reconnaissez être seul responsable du respect de l’ensemble des lois, règlements et obligations applicables à votre utilisation de la Plateforme.
                Par ailleurs, en utilisant la Plateforme et lors des Trajets, vous vous engagez à :
                •	(i) ne pas utiliser la Plateforme à des fins professionnelles, commerciales ou lucratives ;
                •	(ii) ne transmettre à BlassaApp (notamment lors de la création ou la mise à jour de votre Compte) ou aux autres Membres ou Autocaristes aucune information fausse, trompeuse, mensongère ou frauduleuse ;
                •	(iii) ne tenir aucun propos, n’avoir aucun comportement ou ne publier sur la Plateforme aucun contenu à caractère diffamatoire, injurieux, obscène, pornographique, vulgaire, offensant, agressif, déplacé, violent, menaçant, harcelant, raciste, xénophobe, à connotation sexuelle, incitant à la violence, à la discrimination ou à la haine, encourageant les activités ou l’usage de substances illégales ou, plus généralement, contraires aux finalités de la Plateforme, de nature à porter atteinte aux droits de BlassaApp ou d’un tiers ou contraires aux bonnes mœurs ;
                •	(iv) ne pas porter atteinte aux droits et à l’image de BlassaApp, notamment à ses droits de propriété intellectuelle ;
                •	(v) ne pas ouvrir plus d’un Compte sur la Plateforme et ne pas ouvrir de Compte au nom d’un tiers ;
                •	(vi) ne pas tenter de contourner le système de réservation en ligne de la Plateforme, notamment en tentant de communiquer à un autre Membre ou un Autocariste vos coordonnées afin de réaliser la réservation en dehors de la Plateforme et ne pas payer les Frais de Service ;
                •	(vii) ne pas contacter un autre Membre ou Autocariste, notamment par l’intermédiaire de la Plateforme, à une autre fin que celle de définir les modalités du covoiturage ;
                •	(viii) vous conformer aux présentes CGU et à la Politique de Confidentialité

              </p>
            </li>
            <li>
              Engagements des Conducteurs
              <p>
                En outre, lorsque vous utilisez la Plateforme en tant que Conducteur, vous vous engagez à :
                •	(i) respecter l’ensemble des lois, règles, codes applicables à la conduite et au véhicule, notamment à disposer d’une assurance responsabilité civile valide au moment du Trajet en Covoiturage et être en possession d’un permis de conduire en vigueur ;
                •	(ii) vous assurer que votre assurance couvre le covoiturage et que vos Passagers sont considérés comme tiers dans votre véhicule et donc couverts par votre assurance ;
                •	(iii) ne prendre aucun risque au volant, à n’absorber aucun produit de nature à altérer votre attention et vos capacités, à conduire avec vigilance et en toute sécurité ;
                •	(iv) publier des Annonces de Covoiturage correspondant uniquement à des trajets réellement envisagés ;
                •	(v) effectuer le Trajet en Covoiturage tel que décrit dans l’Annonce de Covoiturage (notamment en ce qui concerne l’emprunt ou non de l’autoroute) et respecter les horaires et lieux convenus avec les autres Membres (notamment lieu de rendez-vous et de dépose) ;
                •	(vi) ne pas prendre plus de Passagers que le nombre de Places indiquées dans l’Annonce de Covoiturage ;
                •	(vii) utiliser un véhicule en parfait état de fonctionnement et conforme aux usages et dispositions légales applicables, notamment avec un contrôle technique à jour ;
                •	(viii) communiquer à BlassaApp ou tout Passager qui vous en fait la demande, votre permis de conduire, votre carte grise, votre attestation d’assurance, votre certificat de contrôle technique ainsi que tout document attestant de votre capacité à utiliser ce véhicule en tant que Conducteur sur la Plateforme ;
                •	(ix) en cas d’empêchement ou de changement de l’horaire ou du Trajet en Covoiturage, en informer sans délais vos Passagers ;
                •	(x) en cas de Trajet en Covoiturage transfrontalier, disposer et tenir à disposition du Passager et de toute autorité qui le solliciterait tout document de nature à justifier de votre identité et de votre faculté à franchir la frontière ;
                •	(xi) attendre les Passagers sur le lieu de rencontre convenu au moins 15 minutes au-delà de l’heure convenue ;
                •	(xii) ne pas publier d’Annonce de Covoiturage relative à un véhicule dont vous n’êtes pas le propriétaire ou que vous n’êtes pas habilité à utiliser à des fins de covoiturage ;
                •	(xiii) vous assurer d’être joignable par téléphone par vos Passagers, au numéro enregistré sur votre profil ;
                •	(xiv) ne générer aucun bénéfice par l’intermédiaire de la Plateforme ;
                •	(xv) garantir n’avoir aucune contre-indication ou incapacité médicale à conduire ;
                •	(xvi) avoir un comportement convenable et responsable, au cours du Trajet en Covoiturage et conforme à l’esprit de covoiturage.

              </p>
            </li>
            <li>
              Engagements des Passagers
              <p>
                Lorsque vous utilisez la Plateforme en tant que Passager dans le cadre d’un Trajet en Covoiturage, vous vous engagez à :
                •	(i) adopter un comportement convenable au cours du Trajet en Covoiturage de façon à ne gêner ni la concentration et la conduite du Conducteur ni la tranquillité des autres Passagers ;
                •	(ii) respecter le véhicule du Conducteur et sa propreté ;
                •	(iii) en cas d’empêchement, en informer sans délai le Conducteur ;
                •	(iv) attendre le Conducteur sur le lieu de rencontre convenu au moins 15 minutes au-delà de l’heure convenue ;
                •	(v) communiquer à BlassaApp ou tout Conducteur qui vous en fait la demande, votre carte d’identité ou tout document de nature à attester de votre identité ;
                •	(vi) ne transporter, lors d’un Trajet en Covoiturage, aucun objet, marchandise, substance, animal de nature à gêner la conduite et la concentration du Conducteur ou dont la nature, la possession ou le transport est contraire aux dispositions légales en vigueur ;
                •	(vii) en cas de Trajet en Covoiturage transfrontalier, disposer et tenir à disposition du Conducteur et de toute autorité qui le solliciterait tout document de nature à justifier de votre identité et de votre faculté à franchir la frontière ;
                •	(viii) vous assurer d’être joignable par téléphone par le Conducteur, au numéro enregistré sur votre profil, notamment au point de rendez-vous.
                Dans le cas où vous auriez procédé à la Réservation d’une ou plusieurs Places pour le compte de tiers, conformément aux stipulations de l’article 4.2.3 ci-dessus, vous vous portez fort du respect par ce tiers des stipulations du présent article et, de façon générale, des présentes CGU. BlassaApp se réserve la possibilité de suspendre votre Compte, limiter votre accès aux Services ou résilier les présentes CGU, en cas de manquement de la part du tiers pour le compte duquel vous avez réservé une Place aux présentes CGU.

              </p>
            </li>
          </ol>
        </li>
        <li>
          Suspension de comptes, limitation d’accès et résiliation
          <p>
            Vous avez la possibilité de mettre fin à votre relation contractuelle avec BlassaApp à tout moment, sans frais et sans motif. Pour cela, il vous suffit de vous rendre dans l’onglet « Fermeture de compte » de votre page Profil.
            En cas de (i) violation de votre part des présentes CGU, notamment de vos obligations en tant que Membre mentionnées aux articles 6 et 8 ci-dessus, (ii) de dépassement du seuil visé à l’article 4.3.3. ci-dessus ou si (iii) BlassaApp a des raisons sérieuses de croire que ceci est nécessaire pour protéger sa sécurité et son intégrité, celles de ses Membres ou de tiers ou à des fins de prévention des fraudes ou d’enquêtes, BlassaApp se réserve la possibilité de :
            •	(i) résilier, immédiatement et sans préavis, les présentes CGU ; et/ou
            •	(ii) empêcher la publication ou supprimer tout avis, Annonce, messages, contenus, demande de Réservation, ou tout contenu publié par vous sur la Plateforme ; et/ou
            •	(iii) limiter votre accès et votre utilisation de la Plateforme ; et/ou
            •	(iv) suspendre de façon temporaire ou permanente votre Compte.
            Lorsque cela est nécessaire, vous serez notifié de la mise en place d’une telle mesure afin de vous permettre de donner des explications à BlassaApp. BlassaApp décidera, à sa seule discrétion, de lever les mesures mises en place ou non.

          </p>
        </li>
        <li>
          Données personnelles
          <p>
            Dans le cadre de votre utilisation de la Plateforme, BlassaApp est amenée à collecter et traiter certaines de vos données personnelles. En utilisant la Plateforme et vous inscrivant en tant que Membre, vous reconnaissez et acceptez le traitement de vos données personnelles par BlassaApp.
          </p>
        </li>
        <li>
          Propriété intellectuelle
          <ol type="a">
            <li>
              Contenu publié par BlassaApp
              <p>
                Sous réserve des contenus fournis par ses Membres, BlassaApp est seule titulaire de l’ensemble des droits de propriété intellectuelle afférents au Service, à la Plateforme, à son contenu (notamment les textes, images, dessins, logos, vidéos, sons, données, graphiques) ainsi qu’aux logiciels et bases de données assurant leur fonctionnement.
                BlassaApp vous accorde une licence non exclusive, personnelle et non cessible d’utilisation de la Plateforme et des Services, pour votre usage personnel et privé, à titre non commercial et conformément aux finalités de la Plateforme et des Services.
                Vous vous interdisez toute autre utilisation ou exploitation de la Plateforme et des Services, et de leur contenu sans l’autorisation préalable écrite de BlassaApp. Notamment, vous vous interdisez de :
                •	(i) reproduire, modifier, adapter, distribuer, représenter publiquement, diffuser la Plateforme, les Services et leur contenu, à l’exception de ce qui est expressément autorisé par BlassaApp ;
                •	(ii) décompiler, procéder à de l’ingénierie inverse de la Plateforme ou des Services, sous réserve des exceptions prévues par les textes en vigueur ;
                •	(iii) extraire ou tenter d’extraire (notamment en utilisant des robots d’aspiration de données ou tout autre outil similaire de collecte de données) une partie substantielle des données de la Plateforme

              </p>
            </li>
            <li>
              Contenu publié par vous sur la Plateforme
              <p>
                Afin de permettre la fourniture des Services et conformément à la finalité de la Plateforme, vous concédez à BlassaApp une licence non exclusive d’utilisation des contenus et données que vous fournissez dans le cadre de votre utilisation des Services (ci-après, votre « Contenu Membre »). Afin de permettre à BlassaApp la diffusion par réseau numérique et selon tout protocole de communication, (notamment Internet et réseau mobile), ainsi que la mise à disposition au public du contenu de la Plateforme, vous autorisez BlassaApp, pour le monde entier et pour toute la durée de votre relation contractuelle avec BlassaApp, à reproduire, représenter, adapter et traduire votre Contenu Membre de la façon suivante :
                •	(i) vous autorisez BlassaApp à reproduire tout ou partie de votre Contenu Membre sur tout support d’enregistrement numérique, connu ou inconnu à ce jour, et notamment sur tout serveur, disque dur, carte mémoire, ou tout autre support équivalent, en tout format et par tout procédé connu et inconnu à ce jour, dans la mesure nécessaire à toute opération de stockage, sauvegarde, transmission ou téléchargement lié au fonctionnement de la Plateforme et à la fourniture du Service ;
                •	(ii) vous autorisez BlassaApp à adapter et traduire votre Contenu Membre, ainsi qu’à reproduire ces adaptations sur tout support numérique, actuel ou futur, stipulé au (i) ci-dessus, dans le but de fournir les Services, notamment en différentes langues. Ce droit comprend notamment la faculté de réaliser, dans le respect de votre droit moral, des modifications de la mise en forme de votre Contenu Membre aux fins de respecter la charte graphique de la Plateforme et/ou de le rendre techniquement compatible en vue de sa publication via la Plateforme.

              </p>
            </li>
          </ol>
        </li>
        <li>
          Rôle de BlassaApp
          <p>
            La Plateforme constitue une plateforme en ligne de mise en relation sur laquelle les Membres peuvent créer et publier des Annonces de Covoiturage pour des Trajets en Covoiturage. Ces Annonces de Covoiturage peuvent notamment être consultées par les autres Membres pour prendre connaissance des modalités du Trajet et, le cas échéant, réserver directement une Place dans le véhicule concerné auprès du Membre ayant posté l’annonce sur la Plateforme.
            En utilisant la Plateforme et en acceptant les présentes CGU, vous reconnaissez que BlassaApp n’est partie à aucun accord conclu entre vous et les autres Membres en vue de partager les frais afférents à un Trajet.
            BlassaApp n’a aucun contrôle sur le comportement de ses Membres et de leurs préposés, et des utilisateurs de la Plateforme. Elle ne possède pas, n’exploite pas, ne fournit pas, ne gère pas les véhicules objets des Annonces, ni ne propose le moindre Trajet sur la Plateforme.
            Vous reconnaissez et acceptez que BlassaApp ne contrôle ni la validité, ni la véracité, ni la légalité des Annonces, des Places et Trajets proposés. En sa qualité d’intermédiaire en covoiturage, BlassaApp ne fournit aucun service de transport et n’agit pas en qualité de transporteur, le rôle de BlassaApp se limitant à faciliter l’accès à la Plateforme.
            Dans le cadre d’un Trajet en Covoiturage, les Membres (Conducteurs ou Passagers) agissent sous leur seule et entière responsabilité, notamment conformément aux dispositions du code civil relatives au droit des obligations et à la responsabilité civile contractuelle.
            En sa qualité d’intermédiaire, BlassaApp ne saurait voir sa responsabilité engagée au titre du déroulement effectif d’un Trajet, et notamment du fait :
            •	(i) d’informations erronées communiquées par le Conducteur ou l’Autocariste, dans son Annonce, ou par tout autre moyen, quant au Trajet et à ses modalités ;
            •	(ii) l’annulation ou la modification d’un Trajet par un Membre;
            •	(iii) le comportement de ses Membres pendant, avant, ou après le Trajet.

          </p>
        </li>
        <li>
          Fonctionnement, disponibilité et fonctionnalités de la Plateforme
          <p>
            BlassaApp s’efforcera, dans la mesure du possible, de maintenir la Plateforme accessible 7 jours sur 7 et 24 heures sur 24. Néanmoins, l’accès à la Plateforme pourra être temporairement suspendu, sans préavis, en raison d’opérations techniques de maintenance, de migration, de mises à jour ou en raison de pannes ou de contraintes liées au fonctionnement des réseaux.
            En outre, BlassaApp se réserve le droit de modifier ou d’interrompre, à sa seule discrétion, de manière temporaire ou permanente, tout ou partie de l’accès à la Plateforme ou de ses fonctionnalités.
          </p>
        </li>
        <li>
          Modification des CGU
          <p>
            Les présentes CGU expriment l’intégralité de l’accord entre vous et BlassaApp relative à votre utilisation des Services. Tout autre document, notamment toute mention sur la Plateforme (FAQ, Blog, etc.), n’a qu’une valeur informative.
            BlassaApp pourra être amenée à modifier les présentes CGU afin de s’adapter à son environnement technologique et commercial et afin de se conformer à la réglementation en vigueur. Toute modification des présentes CGU sera publiée sur la Plateforme avec une mention de la date de mise à jour et vous sera notifiée par BlassaApp avant son entrée en vigueur.

          </p>
        </li>
        <li>
          Droit applicable – Litige
          <p>Les présentes CGU sont rédigées en français et soumises à la loi tunisienne, sans préjudice des dispositions plus protectrices du consommateur en vertu de la loi de sa résidence habituelle.</p>
        </li>
      </ol>


    </ion-col>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="!user?.conditionsGenerales">
  <ion-toolbar>
    <ion-grid>
      <ion-col>
        <ion-row class="check">
          <ion-checkbox (click)="onCheck()" mode="ios" labelPlacement="end" [(ngModel)]="checkbox" text-wrap>
            <ion-label class="ion-text-wrap">j'accepte les termes et conditions et la politique de confidentialités</ion-label>
          </ion-checkbox>
        </ion-row>
        <ion-row class="button">
          <ion-button [disabled]="!checkbox" (click)="onSubmit()">Confirmer</ion-button>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<app-footer></app-footer>
