<app-menu></app-menu>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-img class="cover" src="../../../assets/images/Background/commentaires.png" alt="Header"></ion-img>
      <ion-avatar style="margin-left: 10px;" slot="start" class="{{user?.verifie ? 'verifie' : 'non-verifie'}}">
        <img alt="person" src="{{user?.imgUrl}}" />
        <ion-label><h2>{{user?.prenom}}</h2></ion-label>
      </ion-avatar>

      <div style="margin-top: -40px; margin-left: 10px;">
        <ion-chip [outline]="true" color="medium">{{retourComms?.count}} commentaires</ion-chip>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <pagination-controls class="paginator"
                         previousLabel="Prec."
                         nextLabel="Suiv."
                         (pageChange)="onChange($event)"></pagination-controls>
  </ion-row>

  <ion-card *ngFor="let com of retourComms?.commentaires | paginate :{ itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count };" (click)="toFiche(com.userId)" class="">
    <ion-grid [fixed]="true">
      <ion-row style="margin-top: -5px;">
        <ion-col>
          <ion-item lines="none">
            <ion-avatar slot="start" class="{{com.verifie ? 'verifie' : 'non-verifie'}}">
              <img alt="person" src="{{com.imgUrl}}" />
            </ion-avatar>
            <ion-label>
              <h1 class="title">{{com.prenom}}</h1>
              <p>{{com.dateComm | date:'short'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-row>
            <div style="margin-left: auto; margin-right: 5px; display: flex; flex-direction: justify-content ">
              <ion-img class="icon" *ngIf="com.superUser" src="../../../assets/images/medSuperUser.png"></ion-img>
              <ion-img class="icon" *ngIf="com.superDriver" src="../../../assets/images/medSuperDriver.png"></ion-img>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -10px;">
        <ion-col>
          <ion-item lines="none">
            <ion-chip [outline]="true" color="medium" style="width: 100%">{{com.texte}}</ion-chip>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row class="ion-justify-content-center">
    <pagination-controls class="paginator"
                         previousLabel="Prec."
                         nextLabel="Suiv."
                         (pageChange)="onChange($event)"></pagination-controls>
  </ion-row>
</ion-content>
