.paginator {
  .ngx-pagination {
    li:not(.current, .pagination-next, .pagination-previous) {
      background: rgba(235, 235, 235, 1);
    }

    a,
    .current {
      padding: 1rem 1.5rem;
    }
  }
}

.aviBtn {
  --background: transparent;
  --color: black;
}
