<app-menu></app-menu>

<!-- pour passager -->
<ion-content>
  <ion-row style="justify-content: center;">
    <ion-avatar style="margin-top: 23px; z-index: 3; border: 4px solid white;" (click)="afficherMembre(annonce?.userId);">
      <img alt="Silhouette of a person's head" src={{annonce?.user.imgUrl}} />
    </ion-avatar>
  </ion-row>
  <ion-card style="margin-top: -30px; border-radius: 20px;" class={{style}}>

    <ion-grid style="margin-top: 30px;">

      <ion-row style="margin-top: -30px;" *ngIf="annonce?.user.superUser || annonce?.user.superDriver">
        <ion-col>
          <ion-img class="superUser" *ngIf="annonce?.user.superUser" src="../../../assets/images/medSuperUser.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img class="superDriver" *ngIf="annonce?.user.superDriver" src="../../../assets/images/medSuperDriver.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between">

        <ion-col size="3">
          <ion-row>
            <ion-label class="nom">{{annonce?.user.prenom}}</ion-label>
          </ion-row>

          <ion-row id="avis" class="rating">
            <app-avis #compAvis [sameRow]="true"></app-avis>
          </ion-row>

          <ion-popover trigger="avis" side="left" alignment="start">
            <ng-template>
              <ion-label class="ion-padding">Les avis sur l'utilisateur {{annonce?.user.prenom}}</ion-label>
            </ng-template>
          </ion-popover>

          <ion-row id="avisCond" class="rating">
            <app-avis-cond #compAvisCond [sameRow]="true"></app-avis-cond>
          </ion-row>

          <ion-popover trigger="avisCond" side="left" alignment="start">
            <ng-template>
              <ion-label class="ion-padding">Les avis sur le conducteur {{annonce?.user.prenom}}</ion-label>
            </ng-template>
          </ion-popover>
        </ion-col>

        <ion-col size="1" *ngIf="annonce?.user.preferences.tel">
          <ion-img class="social" src="../../../assets/icon/phone.svg" alt="rating" (click)="call();"></ion-img>
        </ion-col>
        <ion-col size="1" *ngIf="annonce?.user.preferences.whatsApp">
          <ion-img class="social" src="../../../assets/icon/whatsapp.svg" alt="rating" (click)="whatsapp();"></ion-img>
        </ion-col>
        <ion-col size="1" *ngIf="annonce?.user.preferences.messenger">
          <ion-img class="social" src="../../../assets/icon/messenger.svg" alt="rating" (click)="openFacebook()"></ion-img>
        </ion-col>
      </ion-row>

      <div class="sep"></div>

      <ion-row style="justify-content: end; z-index: 999; position:relative;">
        <ion-chip color="warning" style="font-weight: bold; z-index: 10;">{{annonce?.prix}} DT</ion-chip>
      </ion-row>
      <ion-row style="justify-content: end; z-index: 999; position:relative;">
        <ion-item style="z-index: 10;" lines="none">
          <ion-img class="seat" src="../../../assets/icon/Seat.png" slot="end"></ion-img>
          <p class="text" color="dark">{{annonce?.nombrePlacesDispo}} / {{annonce?.nombrePlaces}}</p>
      </ion-item>
      </ion-row>
      <ion-row style="justify-content: end; z-index: 999; position:relative;">
        <ion-item style="z-index: 10;" lines="none">
          <ion-icon class="icons" name="calendar-outline" size="small" slot="end"></ion-icon>
          <p class="text" color="dark">{{annonce?.dateHeureDepart | date:'dd'}} {{annonce?.dateHeureDepart | date:'MMM'}}</p>
      </ion-item>
      </ion-row>
      <ion-row style="justify-content: end; z-index: 999; position:relative;">
        <ion-item style="z-index: 10;" lines="none">
          <ion-icon class="icons" name="time-outline" size="small" slot="end"></ion-icon>
          <p class="text" color="dark">{{annonce?.dateHeureDepart | date:'HH'}} : {{annonce?.dateHeureDepart | date:'mm'}}</p>
        </ion-item>
      </ion-row>
      <ion-row style="margin-top: -200px; z-index: -1; " class="ion-padding">
        <ion-col size="auto" style="margin-top: 15px;">
          <ion-img class="distanceIcon" src="../../../assets/icon/Distance.png" alt="Distance"></ion-img>
        </ion-col>
        <ion-col>
          <ion-row>
            <p class="trajet">Départ</p>
          </ion-row>
          <ion-row>
            <ion-chip class="adresse" color="dark">{{annonce?.depart}}</ion-chip>
          </ion-row>
          <ion-row>
            <p class="trajet" style="margin-top: 25px;">Destination</p>
          </ion-row>
          <ion-row>
            <ion-chip class="adresse" color="dark">{{annonce?.destination}}</ion-chip>
          </ion-row>
        </ion-col>

      </ion-row>

      <div class="sep"></div>

      <ion-row>
        <ion-col>

          <ion-row>
            <!--<ion-list></ion-list>-->
            <ion-item style="width: 100%;">
              <ion-img class="icon" slot="start" src="../../../assets/images/car.png"></ion-img>
              <ion-label class="text2">{{annonce?.vMarque}} - {{annonce?.vModele}}</ion-label>
            </ion-item>

            <ion-item style="width: 100%;">
              <ion-img class="icon" slot="start" src="../../../assets/images/clim.png"></ion-img>
              <ion-label class="text">Climatisé </ion-label>
              <ion-icon *ngIf="annonce?.vClimatise" slot="end" color="success" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="annonce?.vClimatise==false" slot="end" name="close-circle"></ion-icon>
            </ion-item>

            <ion-item style="width: 100%;">
              <ion-img class="icon" slot="start" src="../../../assets/images/cigarette.png"></ion-img>
              <ion-label class="text">Cigarette autorisée </ion-label>
              <ion-icon *ngIf="annonce?.cigarette" slot="end" color="success" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="annonce?.cigarette==false" slot="end" name="close-circle"></ion-icon>
            </ion-item>

            <ion-item style="width: 100%;">
              <ion-img class="icon" slot="start" src="../../../assets/images/animal.png"></ion-img>
              <ion-label class="text">Animaux de compagnie </ion-label>
              <ion-icon *ngIf="annonce?.animaux==true" slot="end" color="success" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="annonce?.animaux==false" slot="end" name="close-circle"></ion-icon>
            </ion-item>

            <ion-item style="width: 100%;">
              <ion-img class="icon" slot="start" src="../../../assets/images/max2.png"></ion-img>
              <ion-label class="text">Max 2 </ion-label>
              <ion-icon *ngIf="annonce?.max2==true" slot="end" color="success" name="checkmark-circle"></ion-icon>
              <ion-icon *ngIf="annonce?.max2==false" slot="end" name="close-circle"></ion-icon>
            </ion-item>

            <ion-item style="width: 100%;" lines="none">
              <ion-img class="icon" slot="start" src="../../../assets/images/bMoyen.png"></ion-img>
              <ion-label class="text">Bagage :</ion-label>
              <ion-label class="text" *ngIf="annonce?.leger==true" slot="end">Leger </ion-label>
              <ion-label class="text" *ngIf="annonce?.moyen==true" slot="end">&nbsp;| Moyen</ion-label>
              <ion-label class="text" *ngIf="annonce?.lourd==true" slot="end">&nbsp;| lourd</ion-label>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>

      <div class="sep"></div>

      <ion-row class="ion-justify-content-center">
        <ion-label class="title">Passagers</ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <div *ngIf="annonce?.instantane==true" class="inst">
          <ion-item id="resInst" lines="none">
            <ion-icon name="flash-outline" size="large" color="warning"></ion-icon>
          </ion-item>
          <ion-popover trigger="resInst" side="left" alignment="start">
            <ng-template>
              <ion-label class="ion-padding">Réservation instantanée</ion-label>
            </ng-template>
          </ion-popover>
        </div>
        <div *ngIf="annonce?.instantane==false" class="inst">
          <ion-item id="resMan" lines="none">
            <ion-icon name="hand-left-outline" size="large" color="warning"></ion-icon>
          </ion-item>
          <ion-popover trigger="resMan" side="left" alignment="start">
            <ng-template>
              <ion-label class="ion-padding">Le conducteur va gérer manuellement les réservations</ion-label>
            </ng-template>
          </ion-popover>
        </div>
      </ion-row>

      <ion-row>
        <ion-item-divider>
          <ion-row style="width: 100%;">
            <ion-list style="width: 100%;" mode="ios" *ngIf="annonce?.reservations.length > 0">
              <div *ngFor="let res of annonce?.reservations">
                <ion-item style="width: 100%" mode="ios" button detail="true" *ngIf="res.status==1" (click)="afficherMembre(res.userId);">
                  <ion-img *ngIf="res.userRes?.superUser" class="icon" style="position: absolute; z-index: 999; margin-top: 30px" src="../../../assets/images/medSuperUser.png"></ion-img>
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src={{res.userRes?.imgUrl}} />
                  </ion-avatar>
                  <ion-label style="margin-left: 10px" (click)="afficherMembre(res?.user.id_User);">
                    {{res.userRes?.prenom}}
                  </ion-label>
                </ion-item>
              </div>
            </ion-list>
          </ion-row>
        </ion-item-divider>
      </ion-row>

      <ion-row>
        <ion-chip *ngIf="acceptes ==0" style="width: 100%" color="medium">Aucune réservation confirmée pour le moment</ion-chip>
      </ion-row>

      <ion-row>
        <ion-chip *ngIf="user?.id == annonce?.userId && (acceptes > 0 || enAttente > 0 || refuses)"
                  style="width: 100%" color="tertiary">
          En attente: {{enAttente}} - Refusées: {{refuses}}
        </ion-chip>
      </ion-row>

      <ion-row>
        <ion-chip *ngIf="haveResAttente" style="width: 100%" color="warning">Vous avez une réservation en attente</ion-chip>
        <ion-chip *ngIf="haveResConfirmee" style="width: 100%" color="success">Vous avez une réservation acceptée</ion-chip>
        <ion-chip *ngIf="haveResRefusee" style="width: 100%" color="danger">Vous avez une réservation refusée</ion-chip>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <app-button label='Réserver' (click)="promptReserver()" *ngIf="user?.id != annonce?.userId || token?.method=='Invite'"> </app-button>
  <app-button *ngIf="user?.id == annonce?.userId" label='Voir réservations ({{annonce?.reservations?.length}})' (click)="openModal(true)"> </app-button>

</ion-content>

<!-- pour conducteur -->
<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)" mode="ios">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openModal(false)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Réservations</ion-title>

      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding reservations">
      <ion-card>

        <ion-grid>
          <div *ngIf="annonce?.reservations.length > 0">
            <ion-row>
              <ion-label class="text2">Reservations</ion-label>
            </ion-row>

            <ion-list style="width: 100%;" mode="md" lines="none">
              <div *ngFor="let res of annonce?.reservations">
                <ion-item style="width: 100%;" mode="ios" *ngIf="res.status ==0;">
                  <ion-img *ngIf="res.userRes.superUser" class="icon" style="position: absolute; z-index: 999; margin-top: 40px" src="../../../assets/images/medSuperUser.png"></ion-img>
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src={{res.userRes.imgUrl}} />
                  </ion-avatar>
                  <ion-label style="margin-left: 10px">
                    {{res.userRes.prenom}}
                  </ion-label>
                  <ion-button slot="end" (click)="promptAccepterRes(res);">
                    <ion-icon name="checkmark-circle-outline" slot="end" color="success"></ion-icon>
                  </ion-button>
                  <ion-button slot="end" (click)="promptRefuserRes(res);">
                    <ion-icon name="close-circle-outline" slot="end" color="danger"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>

              <div *ngIf="enAttente==0">
                <ion-row class="ion-justify-content-center" style="margin-top: 5px;">
                  Aucune reservation en attente
                </ion-row>
              </div>
            </ion-list>

            <div class="sep"></div>

            <ion-row>
              <ion-label class="text2">Acceptés</ion-label>
            </ion-row>

            <ion-list style="width: 100%;" mode="ios" lines="none">
              <div *ngFor="let res of annonce?.reservations">
                <ion-item style="width: 100%;" mode="ios" *ngIf="res.status ==1;">
                  <ion-img *ngIf="res.userRes.superUser" class="icon" style="position: absolute; z-index: 999; margin-top: 40px" src="../../../assets/images/medSuperUser.png"></ion-img>
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src={{res.userRes.imgUrl}} />
                  </ion-avatar>
                  <ion-label style="margin-left: 10px">
                    {{res.userRes.prenom}}
                  </ion-label>
                  <ion-button slot="end" (click)="promptEnAttenteRes(res);">
                    <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
              <div *ngIf="acceptes==0">
                <ion-row class="ion-justify-content-center" style="margin-top: 5px;">
                  Aucune reservation acceptée
                </ion-row>
              </div>
            </ion-list>

            <div class="sep"></div>

            <ion-row>
              <ion-label class="text2">Réfusés</ion-label>
            </ion-row>

            <ion-list style="width: 100%;" mode="ios" lines="none">
              <div *ngFor="let res of annonce?.reservations">
                <ion-item style="width: 100%;" mode="ios" *ngIf="res.status ==2;">
                  <ion-img *ngIf="res.userRes.superUser" class="icon" style="position: absolute; z-index: 999; margin-top: 40px" src="../../../assets/images/medSuperUser.png"></ion-img>
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src={{res.userRes.imgUrl}} />
                  </ion-avatar>
                  <ion-label style="margin-left: 10px">
                    {{res.userRes.prenom}}
                  </ion-label>
                  <ion-button slot="end" (click)="promptEnAttenteRes(res);">
                    <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                  </ion-button>
                </ion-item>
              </div>
              <div *ngIf="refuses==0">
                <ion-row class="ion-justify-content-center" style="margin-top: 5px;">
                  Aucune reservation refusée
                </ion-row>
              </div>
            </ion-list>

          </div>
        </ion-grid>

        <div *ngIf="annonce?.reservations.length ==0">
          <ion-row class="ion-justify-content-center" style="margin-top: 5px;">
            Aucune reservation
          </ion-row>
        </div>

      </ion-card>

    </ion-content>

  </ng-template>

</ion-modal>


