ion-content{
    background: rgb(255, 255, 255);
}

ion-app{
    background: rgb(255, 255, 255);
    max-width: 800px;
}

.menu-text{
    font-size: medium;
    margin-top: 2px;
    font-family: font2;
    margin-left: 10%;
    margin-top: revert-layer;
}

.menu-item{
    height: 50px;
    width: 100%;
}
.icons{
    display: flex;
    align-items: center;
}