<app-menu></app-menu>

<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-img *ngIf="!isEdit" class="cover" src="../../../assets/images/Background/mes-vehicules-fiche-ajouter.png" alt="Header"></ion-img>
      <ion-img *ngIf="isEdit" class="cover" src="../../../assets/images/Background/mes-vehicules-fiche-modifier.png" alt="Header"></ion-img>
      <div style="display: flex;">
        <ion-button *ngIf="isEdit" style="margin-right: 5px; margin-left:auto" shape="round" color="danger" (click)="supprimerClick()">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Supprimer
        </ion-button>
        <ion-button style="margin-right: 5px; margin-left:auto" shape="round" (click)="enregistrerClick()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Enregistrer
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group value="img" style="margin: 10px">
    <ion-accordion value="img">

      <ion-item slot="header" color="success">
        <ion-label>Photos de votre véhicule</ion-label>
      </ion-item>

      <div slot="content">
        <ion-grid style="margin-right: 10px">
          <ion-row>
            <ion-col>
              <ion-card style="width: 100%" color="light">
                <img alt="vehicule" src="{{fileImage1Obj?.href ? fileImage1Obj.href : '../../../assets/images/Background/notEmpty.png'}}" />
                <ion-button color="danger" shape="round" style="width: 90%" (click)="deleteImage1();">Supp.</ion-button>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card style="width: 100%" color="light">
                <img alt="vehicule" src="{{fileImage2Obj?.href ? fileImage2Obj.href : '../../../assets/images/Background/notEmpty.png'}}" />
                <ion-button color="danger" shape="round" style="width: 90%" (click)="deleteImage2();">Supp.</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <input type="file" name="myImage" accept="image/*" multiple (change)="onFileImagesChange($event)" />
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-grid>
    <ion-row>
      <ion-card style="width: 100%" color="light">
        <ion-card-content>
          <form #vehiculeForm="ngForm">

            <ion-input class="textInput" label="Marque" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="vehicule.marque" name="marque" #marque="ngModel" required minlength="3"></ion-input>
            <div *ngIf="marque.invalid && (marque.dirty || marque.touched)" class="alert">
              <ul>
                <li *ngIf="marque.errors?.['required']">Marque est obligatoire.</li>
                <li *ngIf="marque.errors?.['minlength']">Marque de longeur 3 min.</li>
              </ul>
            </div>
            <hr />
            <ion-input class="textInput" label="Modèle" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="vehicule.modele" name="modele" #modele="ngModel" required minlength="3"></ion-input>
            <div *ngIf="modele.invalid && (modele.dirty || modele.touched)" class="alert">
              <ul>
                <li *ngIf="modele.errors?.['required']">Modèle est obligatoire.</li>
                <li *ngIf="modele.errors?.['minlength']">Modèle de longeur 3 min.</li>
              </ul>
            </div>

            <hr />
            <ion-input class="textInput" label="Matricule" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="vehicule.matricule" name="matricule" #matricule="ngModel" required minlength="3"></ion-input>
            <div *ngIf="matricule.invalid && (matricule.dirty || matricule.touched)" class="alert">
              <ul>
                <li *ngIf="matricule.errors?.['required']">Matricule est obligatoire.</li>
                <li *ngIf="matricule.errors?.['minlength']">Matricule de longeur 3 min.</li>
              </ul>
            </div>
            <ion-chip color="success">Matricule : n'est visible que par vous</ion-chip>

            <hr />
            <ion-item lines="none">
              <ion-checkbox [(ngModel)]="vehicule.climatise" name="climatise" class="text" mode="ios" labelPlacement="end">Climatisé</ion-checkbox>
              <ion-img class="icon" src="../../../assets/images/clim.png" slot="end"></ion-img>
            </ion-item>


            <hr />
            <ion-select value="{{vehicule.typeVehicule}}" name="typeVehicule" (ionChange)="typeVehiculeChange($event)"
                        mode="ios"
                        label="Type véhicule"
                        interface="action-sheet"
                        placeholder="Sélectionner"
                        cancelText="Fermer" class="text">
              <ion-select-option *ngFor="let tv of typeVehicules; let index = index" value="{{index}}">{{tv}}</ion-select-option>
            </ion-select>

            <hr />
            <ion-label class="text">Couleur véhicule : {{couleurs[vehicule.couleur]}}</ion-label> <br /><br />
            <ion-icon name="{{getNameIconColor(index)}}" (click)="couleurChange(index)" size="large" *ngFor="let c of couleurs; let index = index" class="icon-color" style="color: {{styleColors[index]}}"></ion-icon>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-accordion-group value="verif" style="margin: 10px">
    <ion-accordion value="verif">
      <ion-item slot="header" color="success">
        <ion-label>Vérification de votre véhicule</ion-label>
      </ion-item>
      <div slot="content">
        <ion-chip color="success">Les passagers aiment voyager avec un véhicule vérifié.</ion-chip>
        <ion-chip color="success">Les informations ci-dessous ne sont visible que par vous.</ion-chip>

        <ion-row>
          <ion-card style="width: 100%;">
            <ion-card-content>
              <ion-card-title>Carte grise :</ion-card-title>
              <ion-item *ngIf="!fileCarteGriseObj">
                <input type="file" (change)="onFileCarteGriseChange($event)" />
              </ion-item>
              <div *ngIf="fileCarteGriseObj">
                <a href="{{fileCarteGriseObj.href}}" download="PermisConduire{{fileCarteGriseObj.ext ? fileCarteGriseObj.ext : ''}}">
                  <ion-button color="success" shape="round" class="buttonVerif">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Télécharger
                  </ion-button>
                </a>
                <ion-button slot="end" color="danger" shape="round" class="buttonVerif" style="margin-left: auto; margin-right: 10px" (click)="deleteCarteGrise();">
                  Supprimer
                  <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                </ion-button>
                <hr />
              </div>
              <ion-item lines="none">
                <ion-icon class="bullet small" name="calendar-outline" slot="start"></ion-icon>
                <ion-input id="miseEnCirculation" class="textInput" label="Mise en circulation" placeholder="{{vehicule.miseEnCirculation | date}}" [(ngModel)]="vehicule.miseEnCirculation" name="miseEnCirculation" #miseEnCirculation="ngModel" required></ion-input>
                <ion-popover trigger="miseEnCirculation">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="vehicule.miseEnCirculation" name="miseEnCirculationDT"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <div *ngIf="miseEnCirculation.invalid && (miseEnCirculation.dirty || miseEnCirculation.touched)" class="alert">
                <ul>
                  <li *ngIf="miseEnCirculation.errors?.['required']">Mise en circulation est obligatoire.</li>
                </ul>
              </div>
            </ion-card-content>
          </ion-card>

          <ion-card style="width: 100%;">
            <ion-card-content>
              <ion-card-title>Assurance :</ion-card-title>
              <ion-item *ngIf="!fileAssuranceObj">
                <input type="file" (change)="onFileAssuranceChange($event)" />
              </ion-item>
              <div *ngIf="fileAssuranceObj">
                <a href="{{fileAssuranceObj.href}}" download="Cin{{fileAssuranceObj.ext ? fileAssuranceObj.ext : ''}}">
                  <ion-button color="success" shape="round" class="buttonVerif">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Télécharger
                  </ion-button>
                </a>
                <ion-button slot="end" color="danger" shape="round" class="buttonVerif" style="margin-left: auto; margin-right: 10px" (click)="deleteAssurance();">
                  Supprimer
                  <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                </ion-button>
                <hr />
              </div>
              <ion-item>
                <ion-icon class="bullet small" name="calendar-outline" slot="start"></ion-icon>
                <ion-input id="dateAssurance" class="textInput" label="Début" placeholder="{{vehicule.dateAssurance | date}}" name="dateAssurance"></ion-input>
                <ion-popover trigger="dateAssurance">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="vehicule.dateAssurance" name="dateAssuranceDT"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <ion-item lines="none">
                <ion-icon class="bullet small" name="calendar-outline" slot="start"></ion-icon>
                <ion-input id="dateAssuranceProch" class="textInput" label="Fin" placeholder="{{vehicule.dateAssuranceProch | date}}" name="dateAssuranceProch"></ion-input>
                <ion-popover trigger="dateAssuranceProch">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="vehicule.dateAssuranceProch" name="dateAssuranceProchDT"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <ion-item lines="none">
                <ion-chip color="warning">Pour vous rappeler de renouveler.</ion-chip>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-card style="width: 100%;">
            <ion-card-content>
              <ion-card-title>Visite Technique :</ion-card-title>
              <ion-item *ngIf="!fileVisiteTechObj">
                <input type="file" (change)="onFileVisiteTechChange($event)" />
              </ion-item>
              <div *ngIf="fileVisiteTechObj">
                <a href="{{fileVisiteTechObj.href}}" download="Passeport{{fileVisiteTechObj.ext ? fileVisiteTechObj.ext : ''}}">
                  <ion-button color="success" shape="round" class="buttonVerif">
                    <ion-icon slot="start" name="star"></ion-icon>
                    Télécharger
                  </ion-button>
                </a>
                <ion-button slot="end" color="danger" shape="round" class="buttonVerif" style="margin-left: auto; margin-right: 10px" (click)="deleteVisiteTech();">
                  Supprimer
                  <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                </ion-button>
                <hr />
              </div>

              <ion-item>
                <ion-icon class="bullet small" name="calendar-outline" slot="start"></ion-icon>
                <ion-input id="dateVisiteTech" class="textInput" label="Début" placeholder="{{vehicule.dateVisiteTech | date}}" name="dateVisiteTech"></ion-input>
                <ion-popover trigger="dateVisiteTech">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="vehicule.dateVisiteTech" name="dateVisiteTechDT"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <ion-item lines="none">
                <ion-icon class="bullet small" name="calendar-outline" slot="start"></ion-icon>
                <ion-input id="dateVisiteTechProch" class="textInput" label="Fin" placeholder="{{vehicule.dateVisiteTechProch | date}}" name="dateVisiteTechProch"></ion-input>
                <ion-popover trigger="dateVisiteTechProch">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="vehicule.dateVisiteTechProch" name="dateVisiteTechProchDT"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
              <ion-item lines="none">
                <ion-chip color="warning">Pour vous rappeler de renouveler.</ion-chip>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>

<app-footer></app-footer>
