<ion-content class="ion-padding">

  <ion-label>Noter {{membre?.nom}}</ion-label>
  <ion-row class="ion-justify-content-center">
    <div>
      <ion-icon size="large" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rateAvis(num)" [ngStyle]="{'color':getColorAvis(num)}"></ion-icon>
    </div>
  </ion-row>
  <ion-row>
    <ion-button (click)="submitNoteAvis()">Noter</ion-button>
  </ion-row>
  <ion-label>Conduite</ion-label>
  <ion-row  class="ion-justify-content-center">
    <div>
      <ion-icon size="large" name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rateConduite(num)" [ngStyle]="{'color':getColorConduite(num)}"></ion-icon>
    </div>
  </ion-row>
  <ion-row>
    <ion-button (click)="submitNoteConduite()">Noter Conduite</ion-button>
  </ion-row>
</ion-content>