
<ion-content class="ion-padding">

  <ion-label class="title">Verification du profil</ion-label>

  <ion-grid>
    <ion-row>
      <ion-label>Permis de conduire</ion-label><input type="file" placeholder="Permis de conduire" />
    </ion-row>
    <ion-row>
      <ion-label>Carte d'identité nationale</ion-label><input type="file" placeholder="Carte d'identité nationale" />
    </ion-row>
    <ion-row>
      <ion-label>Passeport</ion-label><input type="file" placeholder="Passeport" />
    </ion-row>

    <ion-button style="float: right;">Confirmer</ion-button>
  </ion-grid>

</ion-content>
