.star {
  height: 14px;
  width: 14px;
}

.rating {
  font-family: font4;
  font-size: small;
}

.textNotes {
  margin: auto;
  font-family: font4;
  font-size: 0.8rem;  
  margin-top: 3px;
}

ion-col.stats {
  flex: 0 0 75px;
  padding: 0;
  margin-right: 10px;
}
