<app-menu></app-menu>

<ion-content class="ion-padding">

  <ion-img class="cover" src="../../../assets/images/Background/mesTrajets.png" alt="Header"></ion-img>
  <ion-label class="nombre">{{mesAnnonces?.length}} trajets en cours</ion-label>

  <app-annonce-item *ngFor="let annonce of mesAnnonces"
                    (click)="afficherFiche(annonce.id)"
                    [annonce]="annonce"></app-annonce-item>

  <ion-accordion-group value="hist">
    <ion-accordion value="hist">
      <ion-item slot="header" color="warning">
        <ion-label>Historique annonces</ion-label>
      </ion-item>
      <div slot="content">
        <ion-label class="nombre">{{mesAnnoncesHistorique?.length}} trajets dans votre historique</ion-label>
        <app-annonce-item *ngFor="let annonce of mesAnnoncesHistorique"
                          (click)="afficherFiche(annonce.id)"
                          [annonce]="annonce"></app-annonce-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

<app-footer></app-footer>
