<app-menu></app-menu>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img class="cover" src="../../../assets/images/Background/mesTrajets.png" alt="Header"></ion-img>
  
<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="trajets">
    <ion-label>Trajets</ion-label>
  </ion-segment-button>
  <ion-segment-button value="reservations">
    <ion-label>Réservations</ion-label>
  </ion-segment-button>
</ion-segment>

  
<div *ngIf="segment=='trajets'">
  <div *ngIf="mesAnnonces?.length==0">
    <ion-row class="ion-justify-content-center" style="margin-top: -50px;">
      <video preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="../../../assets/videos/noAnnonce.mp4" type="video/mp4" />
       </video>
    </ion-row>
  </div>
  <!--<app-annonce-item *ngFor="let annonce of mesAnnonces" 
  (click)="afficherFiche(annonce.id_Annonce)" 
  [IMG]="annonce.conducteur?.imgUrl"
  [Nom]="annonce.conducteur?.nom"
  [idUser]="annonce.iduser" 
  [prix]="annonce.prix"
  [Dep]="annonce.trajet.depart" 
  [Des]="annonce.trajet.destination" 
  [dateHeure]="annonce.date_Heure_Depart"  
  [NBP]="annonce.nombrePlaces" 
  [inst]="annonce.inst"
  [verifie]="annonce.profilVerife" 
  [filles]="annonce.filles" 
  [garcons]="annonce.garcons" 
  [tous]="annonce.tous"
  ></app-annonce-item>-->
</div>

<div *ngIf="segment=='reservations'">
  <div *ngIf="mesReservations.length==0">
    <ion-row class="ion-justify-content-center" style="margin-top: -50px;">
      <video preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="../../../assets/videos/noReservation.mp4" type="video/mp4" />
       </video>
    </ion-row>
  </div>
  <!--<app-annonce-item *ngFor="let annonce of mesReservations"  
  (click)="afficherFiche(annonce.id_Annonce)" 
  [IMG]="annonce.conducteur.imgUrl"
  [Nom]="annonce.conducteur.nom"
  [idUser]="annonce.iduser" 
  [prix]="annonce.prix"
  [Dep]="annonce.trajet.depart" 
  [Des]="annonce.trajet.destination" 
  [dateHeure]="annonce.date_Heure_Depart"  
  [NBP]="annonce.nombrePlaces" 
  [inst]="annonce.inst"
  [verifie]="annonce.profilVerife" 
  [filles]="annonce.filles" 
  [garcons]="annonce.garcons" 
  [tous]="annonce.tous"
  ></app-annonce-item>-->
</div>

</ion-content>
