
<app-menu></app-menu>

<ion-content appParralaxHeader [scrollEvents]="true" parallaxHeader="../../../assets/images/Background/header3.png"
  [parallaxHeight]="120">

  <ion-fab vertical="top" horizontal="end" style="margin-top: 80px;">
    <ion-fab-button id="filter-content">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="main" *ngIf="annonces?.length==0">
    <ion-title>
      Aucune annonce 
    </ion-title>
  </div>

  <app-annonce-item *ngFor="let annonce of annonces | paginate : 
    { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count }; 
    let i = index" [current]="annonce" 
      (click)="afficherFiche(annonce.id)" 
      [uImgUrl]="annonce.uImgUrl"
      [uPrenom]="annonce.uPrenom"
      [userId]="annonce?.userId" 
      [prix]="annonce?.prix"
      [depart]="annonce?.depart" 
      [destination]="annonce?.destination" 
      [dateHeureDepart]="annonce?.dateHeureDepart"  
      [nombrePlacesDispo]="annonce?.nombrePlacesDispo" 
      [instantane]="annonce?.instantane"
      [uVerifie]="annonce?.uVerifie" 
      [voyageAvec]="annonce?.voyageAvec"
     ></app-annonce-item>

     <ion-row class="ion-justify-content-center">
      <pagination-controls 
      class="paginator"       
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onChange($event)"></pagination-controls> 
     </ion-row>

</ion-content>


<ion-modal trigger="filter-content" (didDismiss)="onDidDismiss($event)" mode="ios">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Reset</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <form [formGroup]="filtreForm">
        <ion-accordion-group class="accordion" style="margin-top: -16px;">
          <ion-accordion>
            <ion-item slot="header" color="light">
              <ion-label>Trier par</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <!-- Trier par content -->

              <ion-list lines="none">
                <ion-radio-group id="radio-tri" value="{{tri}}" formControlName="tri">
                  <ion-item>
                    <ion-icon mode="ios" name="time-outline" slot="start"></ion-icon>
                    <ion-radio value="0" justify="space-between">Départ le plus tot</ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-icon mode="ios" name="cash-outline" slot="start"></ion-icon>
                    <ion-radio value="1" justify="space-between">Prix le plus bas</ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-icon mode="ios" name="walk-sharp" color="success" slot="start"></ion-icon>
                    <ion-radio value="2" justify="space-between">Proche du point de départ</ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-icon mode="ios" name="walk-sharp" color="success" slot="start"></ion-icon>
                    <ion-radio value="3" justify="space-between">Proche de point d'arrivée</ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>

              <!-- Trier par content -->
            </div>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header" color="light">
              <ion-label>Heure de départ</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <!-- Heure content -->
              <ion-radio-group  id="radio-heureDepart" value="{{trajetAnnonceCriteresDto.heureDepart}}" formControlName="heureDepart">
                <ion-item>
                  <ion-radio value="0" justify="space-between">Tous</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="1" justify="space-between">Avant 06:00</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="2" justify="space-between">06:00 - 12:00</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="3" justify="space-between">12:01 - 18:00</ion-radio>
                </ion-item>
                <ion-item>
                  <ion-radio value="4" justify="space-between">Aprés 18:00</ion-radio>
                </ion-item>
              </ion-radio-group>
              <!-- Heure par content -->
            </div>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header" color="light">
              <ion-label>Services et équipements</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <!-- Services par content -->
              <ion-list lines="none">
                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.superDriver}}" formControlName="superDriver">Super Driver</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.profilVerifie}}" formControlName="profilVerifie">Profil Vérifié</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.max2Arriere}}" formControlName="max2Arriere">Max. 2 à l'arriére</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.reservationInst}}" formControlName="reservationInst">Réservation instantanée</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-label>Bagage</ion-label>
                  <ion-list>
                    <ion-item>
                      <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.bLeger}}" formControlName="bLeger">Leger</ion-checkbox>
                      <p style="margin-left: 10px; opacity: 0;">0</p>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.bMoyen}}" formControlName="bMoyen">Moyen</ion-checkbox>
                      <p style="margin-left: 10px; opacity: 0;">0</p>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.bLourd}}" formControlName="bLourd">Lourd</ion-checkbox>
                      <p style="margin-left: 10px; opacity: 0;">0</p>
                    </ion-item>
                  </ion-list>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.climatisation}}" formControlName="climatisation">Climatisation</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.cigaretteAutorisee}}" formControlName="cigaretteAutorisee">Cigarette autorisée</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>

                <ion-item>
                  <ion-checkbox justify="space-between" value="{{trajetAnnonceCriteresDto.animauxAutorises}}" formControlName="animauxAutorises">Animaux de compagnie autorisés</ion-checkbox>
                  <p style="margin-left: 10px; opacity: 0.2;">0</p>
                </ion-item>
              </ion-list>
              <!-- Services par content -->
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </form>

    </ion-content>
  </ng-template>
</ion-modal>
