<ion-content >
  <ion-img class="img" src="../../../assets/images/logo/blassaLogo.png" alt="Blassa Logo"></ion-img>
  <ion-img class="cover" src="../../../assets/images/Background/Header2.jpg" alt="Header"></ion-img>

  <form style="margin: 20px; margin-top: 3rem;">
    <app-icon-button icon='logo-facebook' label='Se connecter avec Facebook' (click)="signInWithF()"></app-icon-button>
    <app-icon-button2 icon='logo-google' label='Se connecter avec Google' (click)="doLogin()"></app-icon-button2>
    <app-button label='Mode Invité' (click)="loginAno()" [disabled]="true"></app-button>
  </form>

</ion-content>

<app-footer></app-footer>
