<app-menu></app-menu>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="ion-padding ion-justify-content-center">
          <ion-img class="superUser" *ngIf="membre?.superUser" src="../../../assets/images/medSuperUser.png"></ion-img>
          <ion-img class="superDriver" *ngIf="membre?.superDriver" src="../../../assets/images/medSuperDriver.png"></ion-img>
          <ion-avatar class="{{membre?.verifie ? 'verifie' : 'nonVerifie'}}" style="width: 100px; height: 100px;">
            <img alt="Silhouette of a person's head" src={{membre?.imgUrl}} />
          </ion-avatar>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="width: 100%;">
          <ion-label class="nom">{{membre?.prenom}}</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label class="role" *ngIf="membre?.passager == false"> Conducteur</ion-label>
          <ion-label class="role" *ngIf="membre?.passager == true"> Passager</ion-label>
          <ion-label class="age">{{membre?.age}} ans</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row style="width: 100%; justify-content: center;">
          <ion-col size="col-4">
            <ion-row class="text">Trajets publiés</ion-row>
            <ion-row class="text2">{{membre?.nbTrajetsPubliees}}</ion-row>
          </ion-col>
          <ion-col size="col-4">
            <ion-row class="text">Membre depuis</ion-row>
            <ion-row class="text2">{{membre?.membreDepuis}}</ion-row>
          </ion-col>
          <ion-col size="col-4">
            <ion-row class="text">Avis</ion-row>
            <ion-row class="text2">
              <ion-button id="btn-avi" class="aviBtn" (click)="openAvisModal(false)">
                <app-avis #compAvis></app-avis>
              </ion-button>
            </ion-row>
          </ion-col>
          <ion-col *ngIf="!membre?.passager" size="col-4">
            <ion-row class="text">Conduite</ion-row>
            <ion-row class="text2">
              <ion-button id="btn-avi-cond" class="aviBtn" (click)="openAvisModal(true)">
                <app-avis-cond #compAvisCond></app-avis-cond>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>

    <div class="sep"></div>
    <ion-label class="text">Vous pouvez contacter {{membre?.prenom}} par :</ion-label>
    <ion-row>
      <ion-col size="auto" *ngIf="membre?.tel">
        <ion-img class="social" src="../../../assets/icon/phone.svg"></ion-img>
      </ion-col>
      <ion-col size="auto" *ngIf="membre?.whatsApp">
        <ion-img class="social" src="../../../assets/icon/whatsapp.svg"></ion-img>
      </ion-col>
      <ion-col size="auto" *ngIf="membre?.messenger">
        <ion-img class="social" src="../../../assets/icon/messenger.svg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-accordion-group>
      <ion-accordion value="preferences">
        <ion-item slot="header" color="light">
          <ion-label class="text">Ses préferences de voyage :</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item style="width: 100%;" lines="none">
            <ion-icon color="dark" name="snow-outline" slot="start" size="small"></ion-icon>
            <ion-label class="text">Climatisé </ion-label>
            <ion-icon *ngIf="membre?.climatise" slot="end" color="success" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="membre?.climatise==false" slot="end" name="close-circle"></ion-icon>
          </ion-item>

          <ion-item style="width: 100%;" lines="none">
            <ion-img color="dark" slot="start" class="icon" src="../../../assets/icons/cig.svg"></ion-img>
            <ion-label class="text">Cigarette autorisée</ion-label>
            <ion-icon *ngIf="membre?.cigarette" slot="end" color="success" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="membre?.cigarette==false" slot="end" name="close-circle"></ion-icon>
          </ion-item>

          <ion-item style="width: 100%;" lines="none">
            <ion-icon color="dark" name="paw-outline" slot="start" size="small"></ion-icon>
            <ion-label class="text">Animaux de compagnie </ion-label>
            <ion-icon *ngIf="membre?.animaux==true" slot="end" color="success" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="membre?.animaux==false" slot="end" name="close-circle"></ion-icon>
          </ion-item>

          <ion-item style="width: 100%;" lines="none">
            <ion-icon color="dark" name="people-outline" slot="start" size="small"></ion-icon>
            <ion-label class="text">Max 2 </ion-label>
            <ion-icon *ngIf="membre?.max2==true" slot="end" color="success" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="membre?.max2==false" slot="end" name="close-circle"></ion-icon>
          </ion-item>


          <ion-item style="width: 100%;" lines="none">
            <ion-icon color="dark" name="briefcase-outline" slot="start" size="small"></ion-icon>
            <ion-label class="text">Bagage :</ion-label>
            <ion-label class="text" *ngIf="membre?.leger==true" slot="end">Leger </ion-label>
            <ion-label class="text" *ngIf="membre?.moyen==true" slot="end">&nbsp;| Moyen</ion-label>
            <ion-label class="text" *ngIf="membre?.lourd==true" slot="end">&nbsp;| lourd</ion-label>
          </ion-item>

        </div>
      </ion-accordion>
      <ion-accordion value="vehicules">
        <ion-item slot="header" color="light">
          <ion-label class="text">Ses véhicules</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card *ngFor="let car of membre?.vehicules">
            <ion-card-header>
              <ion-card-title>{{car.marque}} - {{car.modele}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div>
                <ion-img style="margin-left: auto; margin-right: 1px; display: flex; flex-direction: justify-content" class="icon" *ngIf="car.climatise" src="../../../assets/images/clim.png"></ion-img>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <div class="ion-padding">

      <ion-label style="font-family: font2;">Commentaires</ion-label>
      <form [formGroup]="commentaireForm" novalidate>
        <ion-item style="margin-top: 20px;" lines="none">
          <ion-avatar style="width: 30px; height: 30px; margin-right: 10px;">
            <img alt="Silhouette of a person's head" src={{user?.imgUrl}} />
          </ion-avatar>
          <ion-textarea label="Votre commentaire" label-placement="floating" fill="outline" placeholder="Saisir votre commentaire" formControlName="commentaire" style="height: 100px"></ion-textarea>
        </ion-item>
      </form>

      <ion-button (click)="commenter()" style="float: right;">Commenter</ion-button>

      <div style="margin-top:55px ;">
        <ion-row class="ion-justify-content-center">
          <pagination-controls class="paginator"
                               previousLabel="Prec."
                               nextLabel="Suiv."
                               (pageChange)="onChange($event)"></pagination-controls>
        </ion-row>

        <app-commentaire-item *ngFor="let com of retourComms?.commentaires |
                      paginate :{ itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: count };"
                              [comm]="com"
                              (click)="toFiche(com.userCommId)">
        </app-commentaire-item>


        <ion-row class="ion-justify-content-center">
          <pagination-controls class="paginator"
                               previousLabel="Prec."
                               nextLabel="Suiv."
                               (pageChange)="onChange($event)"></pagination-controls>
        </ion-row>
      </div>

    </div>

  </ion-grid>

</ion-content>

<app-footer></app-footer>
