hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card1{
    border-radius: 20px; 
    width: 100%;
    margin: auto;
}

.title{
    font-family: font1;
    font-size: 1.5rem;
}

.font1{
    font-family: font1;
    opacity: 0.7;
    font-size: 1rem;
}

.font2{
    font-family: font4;
    opacity: 0.7;
    font-size: 1rem;
}

.info{
    font-family: font4;
    opacity: 0.7;
    font-size: 0.8rem;
}

.nom{
    width: 100%;
    font-family: font2;
    text-align: center;
    font-size: 1.5rem;
}

.role{
    width: 100%;
    font-family: font4;
    opacity: 0.7;
    font-size: 1rem;
    text-align: center;
}

.text{
    font-family: font4;
    font-size: 0.8rem;
    margin: auto;
}

.textLarge{
    font-family: font4;
    font-size: 1rem;
    margin: auto;
}

.textInput {
    font-family:'Times New Roman';
  font-size: 1.2rem;
  margin: auto;
}

ion-popover{
    --width: 350px;
}

.icon {
  width: 20px;
}

.superUser {
  height: 30px;
  width: 30px;
}

.superDriver {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 0px;
}
.star {
  height: 15px;
  width: 15px;
}
.rating {
  font-family: font4;
  font-size: small;
}

ion-col.stats {
  flex: 0 0 100px;
  padding: 0;
  margin-right: 10px;
}

ion-col.right {
  flex: 0 0 150px;
  padding: 0;
  margin-left: auto;
  margin-right: 0px;
}
