.empty{
    background-image: url('../../../assets/images/Background/Empty\ car.png');
    height : 82px;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.notEmpty{
    background-image: url('../../../assets/images/Background/notEmpty.png');
    height : 82px;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}