.img{
    width: 100px;
}

.menu-text{
    font-size: medium;
    margin-top: 2px;
    font-family: font2;
    margin-left: 10%;
    margin-top: revert-layer;
}

.icons{
    display: flex;
    align-items: center;
}

.menu-item{}
