<app-menu></app-menu>

<ion-content class="ion-padding">

  <ion-label class="title">Préférences</ion-label>

  <ion-list>

    <ion-label class="subTitle">Je suis :</ion-label>
    <ion-list>
      <ion-item><ion-label class="text" style="margin: auto;">Passager</ion-label><ion-toggle [checked]="prefs.passager" [(ngModel)]="prefs.passager" style="margin: auto;"></ion-toggle><ion-label class="text" style="margin: auto; float: right; margin-left: 20px;">Conducteur</ion-label></ion-item>
    </ion-list>

    <ion-label class="subTitle">Les conducteurs / passagers peuvent me contacter par :</ion-label>
      <ion-list>
        <ion-item><ion-img slot="start" class="icon" src="../../../assets/icon/phone.svg"></ion-img><ion-label class="text">Téléphone</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.tel"></ion-toggle></ion-item>
        <ion-item><ion-img slot="start" class="icon" src="../../../assets/icon/whatsapp.svg"></ion-img><ion-label class="text" >Whatsapp</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.whatsapp"></ion-toggle></ion-item>
        <ion-item><ion-img slot="start" class="icon" src="../../../assets/icon/messenger.svg"></ion-img><ion-label class="text" >Messenger</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.messenger"></ion-toggle></ion-item>
      </ion-list>

    <ion-label class="subTitle">Je préfère voyager avec :</ion-label>
    <ion-radio-group [(ngModel)]="gender">
      <ion-list>
        <ion-item>
          <ion-icon name="woman-outline" slot="start"></ion-icon>
          <ion-label class="text">Filles uniquement</ion-label>
          <ion-radio slot="end" value="F"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="man-outline" slot="start"></ion-icon>
          <ion-label class="text">Garçons uniquement</ion-label>
          <ion-radio slot="end" value="H"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label class="text">Tous</ion-label>
          <ion-radio slot="end" value="T"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>
    <ion-label class="subTitle">Bagage autorisé :</ion-label>

      <ion-list>
        <ion-item><ion-label class="text" >Léger</ion-label><ion-toggle slot="end"id="leger" [(ngModel)]="prefs.leger" (click)="updateCheckBox('leger')"></ion-toggle></ion-item>
        <ion-item><ion-label class="text" >Moyen</ion-label><ion-toggle slot="end" id="moyen" [(ngModel)]="prefs.moyen" (click)="updateCheckBox('moyen')"></ion-toggle></ion-item>
        <ion-item><ion-label class="text" >Lourd</ion-label><ion-toggle slot="end" id="lourd" [(ngModel)]="prefs.lourd" (click)="updateCheckBox('lourd')"></ion-toggle></ion-item>
      </ion-list>

      <ion-item>
        <ion-icon name="paw-outline" slot="start"></ion-icon><ion-label class="subTitle">Climatisé</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.climatise"></ion-toggle>
      </ion-item>

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon><ion-label class="subTitle">Max. 2 à l’arrière</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.max2"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-img slot="start" class="icon" src="../../../assets/icons/cig.svg"></ion-img><ion-label class="subTitle">Cigarette autorisée</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.cig"></ion-toggle>
    </ion-item>
    
    <ion-item>
      <ion-icon name="paw-outline" slot="start"></ion-icon><ion-label class="subTitle">Animaux de compagnie autorisés</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.animaux"></ion-toggle>
    </ion-item>

    <ion-label class="subTitle">Je préfère voyager avec des Conducteur / passager:</ion-label>

      <ion-list>
        <ion-item><ion-icon name="shield-checkmark-outline" slot="start"></ion-icon><ion-label class="text">Vérifiés uniquement</ion-label><ion-toggle slot="end" [(ngModel)]="prefs.verifies"></ion-toggle></ion-item>
      </ion-list>

    <ion-button class="subTitle" (click)="refresh();">Confirmer</ion-button>
    

  </ion-list>
</ion-content>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Préférences enregistrées."
  [buttons]="alertButtons"
  (didDismiss)="addSuccess(false)"
></ion-alert>