
.title{
    font-family: font1;
    font-size: 1.5rem;

}

.subTitle{
    font-family: font4;
    font-size: 1rem;
    margin: auto;
}

.text{
    font-family: font4;
    font-size: 0.9rem;
}

.icon{
    width: 20px;
}