name: Deploy Ionic BlassaApp to Azure App Service
# This workflow is triggered when pushing to a main branch
on:
  push:
    branches:
      - main
env:
  AZURE_WEBAPP_NAME: BlassaApp # Set this to your app service name
  PACKAGE_PATH: './BlassaSln/BlassaFront' # Set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: 18.18.0 # Set this to the node version to use
jobs:
  build-and-deploy:
    runs-on: windows-2019
    # You can use default run to set default shell to all steps
    defaults:
      run:
        shell: powershell
        # Using a specific shell https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell
    steps:
      - name: Checkout the latest source code
        uses: actions/checkout@v2 # For more version https://github.com/actions/checkout/releases
      - name: Use Node.js version ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}
      # Gulp CLI already installed
      # https://github.com/actions/virtual-environments/blob/main/images/win/scripts/Installers/Install-NodeLts.ps1
      - name: Install Angular, Ionic and Bower
        working-directory: ${{ env.PACKAGE_PATH }}
        run: |
          npm install -g bower
          npm install --save --legacy-peer-deps
          npm fund
          npm i -g @ionic/cli
          npm fund
          npm uninstall @ionic-native --force
          npm fund
          npm uninstall ionic-native --force
          npm fund
          npm i @ionic-native/app-availability --legacy-peer-deps
          npm fund
          npm i @ionic-native/core --legacy-peer-deps
          npm fund
          npm i cordova-plugin-inappbrowser --save --legacy-peer-deps
          npm fund
          npm i applicationinsights --legacy-peer-deps
          npm fund
      - name: Build all Node.js projects with npm 
        working-directory: ${{ env.PACKAGE_PATH }}
        run: |
          bower install
          npm install
          npm run build
      - name: Deploy Azure App Service code Node.js and use IIS 10.0, Windows Server 2016
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          # Before downloading load publish profile, make sure that you have set WEBSITE_WEBDEPLOY_USE_SCM
          # in App Service Configuration to true
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.PACKAGE_PATH }}
